**/CMakeFiles/
**/doxygen/
Makefile
CMakeCache.txt
install_manifest.txt
cmake_install.cmake

*~

**/bin
**/obj
*.obj
*.o
*.so
*.lib
*.a
console/owebpp-console

_owebpp_generated*

*.cbp
*.layout
*.depend